* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #999;
}

ul li,
ol li {
    list-style: none;
}

body{
    background-color: #f8f8f8;
    font-family: "-apple-system","MIcrosoft YaHei",sans-serif !important;
}